{% extends 'qr/base.html'%}
{% load static %}
{%block title%} Home{%endblock title%}
{% block content%}
<h1>Generate your qrcode here</h1>
<form action=""   method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    
   

    <button type="submit" class="custom-btn">Generate</button>
    <hr>
    {% if qr_code_image %}
     <img src="data:image/png;base64,{{qr_code_image}}" alt="generated QR code">
    
     
    
      {% endif %}
    
</form>
{% endblock content %}

  